# python中sqlite数据库的使用

2017.04.03
在绝大多数的应用中只需要使用小型的数据库即可，至于MySQL之类的中型数据库基本是大材小用。这样来看，sqlite数据库更加适合这样的需求。下面我们就来介绍一下在Python中操作sqlite数据库的几个例子。更加详细的内容，请查看网页<http://www.runoob.com/sqlite/sqlite-python.html>.

### 创建表
一般我们是将结构化的数据存储在数据库中的表格里，这样就需要先创建表。
```python
import sqlite3
def createTable():
	conn = sqlite3.connect('test.db')
	print "Opened database successfully";
	
	conn.execute('''CREATE TABLE COMPANY
	(ID INT PRIMARY KEY     NOT NULL,
	 NAME           TEXT    NOT NULL,
	 AGE            INT     NOT NULL,
	 ADDRESS        CHAR(50),
	 SALARY         REAL);''')
	print "Table created successfully";
	conn.close()
```

### 插入数据项
创建完成所需表格之后，就是向表格中插入数据。
```python
import sqlite3
def insertItems():
	conn = sqlite3.connect('test.db')
	print "Opened database successfully"
	
	conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
	VALUES (1, 'Paul', 32, 'California', 20000.00 )")
	
	conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
	VALUES (2, 'Allen', 25, 'Texas', 15000.00 )")
	
	conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
	VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )")
	
	conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
	VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )")
	
	conn.commit()
	print "Records created successfully"
	conn.close()
```

### 数据查询
在使用数据库中的数据时就需要进行查询操作来获取数据。
```python
import sqlite3
def select():
	conn = sqlite3.connect('test.db')
	print "Opened database successfully"
	
	cursor = conn.execute("SELECT id, name, address, salary  from COMPANY")
	for row in cursor:
	print "ID = ", row[0]
	print "NAME = ", row[1]
	print "ADDRESS = ", row[2]
	print "SALARY = ", row[3], "\n"
	
	print "Operation done successfully"
	conn.close()
```